{
  "extends": [
    "@react-native-community",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-non-null-assertion": "off",
    "quotes": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    // "quotes": [2, "double"],
    // "quotes": ["error", "double"],
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^",
        "varsIgnorePattern": "^_"
        // "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "prettier/prettier": [
      "off",
      "error",
      {
        "endOfLine": "auto",
        "singleQuote": false
      }
    ]
  }
}
